body{
    background-color: rgb(47, 116, 255);
    font-family: Salsa;
    color: rgb(245, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #2f65bc;
    color: white;
    font-family: Salsa;
}

.passo{
    display: none; 
}

.passo.ativo{
    display: block;
}
